<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-bottom shadow">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active">SportKlub</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Pocetna</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add-event" routerLinkActive="active">Dodaj dogadjaj</a>
      </li>
    </ul>

    <ul class="navbar-nav my-2 my-lg-0 list-inline">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Prijava</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register" routerLinkActive="active">Registracija</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile" routerLinkActive="active">Moj profil</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
